{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script>
        function val()
        {
            x=document.getElementById("input1").value
            y=document.getElementById("input2").value
            z=document.getElementById("input3").value

            if(x=="")
            {
                alert("Please enter the username")
            }
            if(y=="")
            {
                alert("Please enter the password")
            }
            if(y!=z)
            {
                alert("Please enter the same password")
            }
        }
    </script>
</head>
<body>
                <br><br><br><br>
                <h1><b><u>SIGN-UP</u></b></h1>
                <form action="" method="get">
                    Full name:
                    <input type="text">
                    Gender:
                    <input type="radio" value="male">Male</input><br>
                    <input type="radio" value="female">Female</input>
                    Nationality:
                    <select>
                        <value>India</value>
                        <value>America</value>
                        <value>Canada</value>
                    </select>
                    Username:
                    <input id="input1" type="text">
                    <br><br>
                    Password:
                    <input id="input2" type="text">
                    Confirm Password:
                    <input id="input3" type="text">
                    <br><br>
                    <input type="button" onclick="val()" value="Sign Up">
                    <input type="button" value="clear"><br>
                    <button type="button" class="btn btn-info">Info</button>
                </form>
</body>
</html>